@charset "UTF-8";

/* -----------------
  リセットCSS
  ------------------ */

/**
 * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
 * Richard Clark (http://richclarkdesign.com)
 * http://cssreset.com
 */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
nav ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}

/* -----------------
  全体の設定
  ------------------ */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.0rem;
}

*, *::before, *::after {
  box-sizing: border-box;
}
a:link,a:hover,a:active,a:visited {
  text-decoration: none;
  color: #333;
}

ul li {
  list-style: none;
}

/* -----------------
  テキストまとめて設定
  ------------------ */
  .txtxs {
    font-size: 1.2rem;
    color: #333;
  }
  .txts {
    font-size: 1.4rem;
    color: #333;
  }
  .txtm {
    font-size: 2.0rem;
    color: #333;
  }
  .txtl {
    font-size: 2.8rem;
    color: #333;
  }


/* -----------------
  ヘッダー
  ------------------ */
.header {
  width: 100%;
  height: 75px;
  background-color: #fff;
  padding: 15px 10px;
  position: fixed;
  top: 0;
  z-index: 1;
}

.header .inner {
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
}

.header .logo {
  display: inline-block;
  width: 128px;
  height: 45px;
  background: url("../images/isaralogo.png") no-repeat;
  background-size: contain;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.header p {
  display: inline-block;
  vertical-align: 8px;
}

.header .btn {
  display: inline-block;
  padding: 15px 40px;
  border-radius: 20px;
  background-color: salmon;
  letter-spacing: 1px;
  position: absolute;
  right: 0;
  top: 2px;
}

/* -----------------
  メイン
  ------------------ */
.main {
  display: block;
  width: 100%;
  height: 500px;
  margin-top: 75px;
  background: url("../images/main.jpg") no-repeat center center;
  background-size: cover;
  text-align: center;
  padding-top: 110px;
}

.main .txtl {
  line-height: 1.8;
}

.main img {
  width: 317px;
  margin-bottom: 30px;
}

/* -----------------
  コンバージョン
  ------------------ */
.conversion {
  width: 100%;
  height: auto;
  background-color: #ebb94d;
  text-align: center;
  padding: 30px 0;
}

.conversion .txtm {
  color: #fff;
  line-height: 1.8;
}

.conversion .txtm .alert {
  display: inline-block;
  background-color: #fff;
  border-radius: 5px;
  color: crimson;
  vertical-align: 0px;
  line-height: 1.2;
}

.conversion .contact_btn {
  display: inline-block;
  padding: 30px 280px;
  background-color: salmon;
  margin: 45px 0;
  border-radius: 44px;
}

.conversion .btn {
  display: inline-block;
  border-radius: 5px;
  padding: 5px 7px;
  color: #fff;
}

.conversion .snsbtn {
  margin-top: 20px;
}

.conversion .tw {
  background-color: deepskyblue;
}
.conversion .fb {
  background-color: CornflowerBlue;
}

/* -----------------
  イントロダクション
  ------------------ */
.introduction {
  width: 100%;
  height: 587px;
  background-color: #fff;
  background: url("../images/introbottom.jpg") no-repeat center center;
  background-size: cover;
  text-align: center;
  padding: 40px 0;
}

/* ↓セクションタイトル用共通設定 */
.section_title_frame {
  width: 90%;
  max-width: 860px;
  position: relative;
  margin: 0 auto 40px;
  padding: 30px 0;
  text-align: center;
}

.section_title {
  line-height: 1.5;
}

.section_title::before {
  content: "";
  display: inline-block;
  width: 50px;
  height: 50px;
  border-top: 4px solid gold;
  border-left: 4px solid gold;
  position: absolute;
  top: 0;
  left: 0;
}
.section_title::after {
  content: "";
  display: inline-block;
  width: 50px;
  height: 50px;
  border-bottom: 4px solid gold;
  border-right: 4px solid gold;
  position: absolute;
  bottom: 0;
  right: 0;
}
/* ↑セクションタイトル用共通設定 */

.introduction .txtm {
  line-height: 1.5;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.introduction strong {
  background: linear-gradient(transparent 70%, gold 0%);
}

/* -----------------
  アバウト
  ------------------ */
.about {
  width: 100%;
  height: auto;
  background-color: LightYellow;
  text-align: center;
  padding: 80px 0;
  position: relative;
}

.about .point {
  text-align: center;
  margin-top: -120px;
  padding-bottom: 40px;
}
.about .point span {
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: gold;
  text-align: center;
  line-height: 80px;
  letter-spacing: 1px;
  color: #fff;
}

.about .skills {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
  border: 2px solid gold;
  border-radius: 5px;
  background-color: #fff;
  margin-top: 30px;
  padding: 30px;
}

.about .card {
  display: inline-block;
  margin: 25px 10px 20px;
  text-align: center;
}

.about .card .txtxs {
  line-height: 1.5;
  margin-top: 10px;
  letter-spacing: 1px;
}

/* -----------------
  アバウトセカンド
  ------------------ */
.aboutsecond {
  width: 100%;
  height: 441px;
  background: url("../images/aboutsecondbg.jpg") no-repeat center center;
  background-size: cover;
  text-align: center;
  padding: 80px 0;
  color: #fff;
}

.aboutsecond > .txtl {
  line-height: 2.2;
  color: #fff;
  font-weight: bold;
}
.aboutsecond > .txtm {
  line-height: 1.8;
  color: #fff;
  font-weight: bold;
}

.aboutsecond > .txtm strong {
  color: gold;
}

.aboutsecond .steps {
  max-width: 1170px;
  margin: 30px auto 0;
  display: flex;
  justify-content: space-around;
  font-weight: bold;
}

.aboutsecond .steps .step {
  width: 31.9658%;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px 25px;
}

.aboutsecond .step .title {
  background-color: gold;
  border-radius: 5px;
  line-height: 1.5;
  font-weight: bold;
  letter-spacing: 1px;
}
.aboutsecond .step .txts {
  margin-top: 25px;
}
.aboutsecond .step .txtm {
  margin-top: 20px;
}

/* -----------------
  アバウトサード
  ------------------ */
.aboutthird {
  width: 100%;
  height: auto;
  background-color: DarkBlue;
  text-align: center;
  padding: 40px 0;
}

.aboutthird .txtm {
  color: #fff;
  line-height: 1.5;
  font-weight: bold;
}
.aboutthird .txtm strong {
  color: gold
}

/* -----------------
  ラーニング
  ------------------ */
.learning {
  width: 100%;
  height: 506px;
  background-color: #fff;
  text-align: center;
  padding: 80px 0;
}

.learning .txtm {
    margin: 50px 0;
}

.learning img {
  width: 180px;
  height: 180px;
  margin: 0 15px 40px;
}

.learning .txts {
    font-weight: bold;
}

/* -----------------
  メリット
  ------------------ */
.merit {
  width: 100%;
  height: auto;
  padding: 80px 0 60px;
  background-color: LightYellow;
}

.merit .section_title_frame {
  text-align: center;
}

.merit .merits {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
.merit .cards {
  width: 30.7692%;
}

.merit .cards img {
  width: 100%;
}

.merit .txtm {
  color: gold;
  line-height: 2.0;
  font-weight: bold;
}
.merit .txts {
  line-height: 1.8;
}

.merit .support {
  width: 95%;
  max-width: 1170px;
  border: 2px solid gold;
  border-radius: 5px;
  background-color: #fff;
  margin: 50px auto 30px;
  padding: 30px;
  text-align: center;
  font-weight: bold;
}

.merit .txt24 {
  font-size: 2.4rem;
  margin-bottom: 24px;
  color: gold;
}

.merit .txts {
  margin-bottom: 15px;
}

.merit .txtxs {
  text-align: center;
  line-height: 1.5;
}

/* -----------------
  運営メンバー
  ------------------ */
.teacher {
  width: 100%;
  height: auto;
  background: url("../images/teacherbg.jpg") no-repeat;
  background-size: cover;
  padding: 80px 0 40px;
}

.teacher > .txtl {
  color: #fff;
  text-align: center;
}

.teacher > .txts {
  color: #fff;
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}

.teacher .members {
  max-width: 810px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.teacher .member {
  width: 46.2962%;
  text-align: center;
  margin-bottom: 20px;
}

.teacher .member img {
  border-radius: 50%;
  position: relative;
  top: 38px;
}

.teacher .desc {
  padding: 40px 30px;
  border: 3px solid #fff;
  line-height: 1.8;
  }

.teacher .desc .txts {
  color: #fff;
  margin-bottom: 10px;
}

.teacher .desc .txts.left {
  text-align: left;
}



/* -----------------
  「 本当に 」可能なのか？
  ------------------ */
.why {
  width: 100%;
  height: auto;
  background-color: gold;
  padding: 40px 0;
  position: relative;
}

.why .point {
  text-align: center;
}
.why .point span {
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  line-height: 80px;
  letter-spacing: 1px;
  color: gold;
}

.why .section_title_frame {
  margin: 0 auto;
}

.why .section_title.txtl {
  color: #fff;
}

.why .section_title::before,
.why .section_title::after {
  border-color: #fff;
}

.why::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 25px 0 25px;
  border-color: gold transparent transparent transparent;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -25px;
}

/* -----------------
  アンサー
  ------------------ */
.answer {
  width: 100%;
  height: auto;
  background-color: #fff;
  padding: 50px 0 40px;
  text-align: center;
}

.answer .txtl,
.answer .txtm,
.answer .txts {
  margin-bottom: 30px;
}

.answer .txtl,
.answer .txtm {
  font-weight: bold;
}

.answer .messages {
  max-width: 780px;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.answer .messages .img {
  width: 31.2820%;
  border: 3px solid gold;
}

.answer .messages .comment {
  display: inline-block;
  width: 64.6153%;
  text-align: left;
  margin-top: 20px;
}
.answer .messages .comment p {
  font-size: 1.8rem;
  font-style: italic;
  color: #777;
  margin-bottom: 15px;
  line-height: 1.5;
}
.answer .messages .comment p + p {
  text-decoration: underline;
}

/* -----------------
  クラス
  ------------------ */
  .class {
  width: 100%;
  height: auto;
  background: url("../images/classbg.jpg") no-repeat center center;
  background-size: cover;
  padding: 40px 0 80px;
  text-align: center;
}

.class > .txtl,
.class > .txtm,
.class > .txts {
  margin-bottom: 30px;
  color: #fff;
}

.class .contentslist {
  display: inline-block;
  width: 371px;
  border: 2px solid DarkBlue;
  border-radius: 5px;
  margin: 20px 10px 0;
  vertical-align: top;
}

.class .contentslist dt {
  background-color: DarkBlue;
  padding:15px 0;
  color: #fff;
}

.class .contentslist dd {
  background-color: #fff;
  padding: 18px;
  font-size: 1.6rem;
  font-weight: bold;
  border-bottom: 1px dotted #eee;
}

/* -----------------
  クラスボトム
  ------------------ */
  .classbottom {
  width: 100%;
  height: auto;
  background-color: DarkBlue;
  text-align: center;
  padding: 40px 0;
}

.classbottom .txtm {
  color: #fff;
  line-height: 1.5;
}

/* -----------------
  フロー
  ------------------ */
  .flow {
  width: 100%;
  height: 1825px;
  background-color: #fff;
  padding: 40px 0 80px;
  text-align: center;
}



.bangkok {
  width: 100%;
  height: 496px;
  background-color: pink;
}
.special {
  width: 100%;
  height: 704px;
  background-color: skyblue;
}
.specialdetail {
  width: 100%;
  height: 526px;
  background-color: pink;
}
.message {
  width: 100%;
  height: 579px;
  background-color: skyblue;
}
.contactform {
  width: 100%;
  height: 705px;
  background-color: pink;
}
.questions {
  width: 100%;
  height: 1355px;
  background-color: pink;
}
.footer {
  width: 100%;
  height: 179px;
  background-color: skyblue;
}
