@charset "UTF-8";

/**
 * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
 * Richard Clark (http://richclarkdesign.com)
 * http://cssreset.com
 */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
nav ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}

*, *::before, *::after {
  box-sizing: border-box;
}



.header {
  width: 100%;
  height: 75px;
  background-color: #fff;
}

.header .inner {
  max-width: 1170px;
}

.main {
  display: block;
  width: 100%;
  height: 500px;
  background-color: pink;
}

.conversion {
  width: 100%;
  height: 559px;
  background-color: skyblue;
}

.introduction {
  width: 100%;
  height: 587px;
  background-color: pink;
}

.about {
  width: 100%;
  height: 646px;
  background-color: skyblue;
}

.aboutsecond {
  width: 100%;
  height: 441px;
  background-color: pink;
}

.aboutthird {
  width: 100%;
  height: 144px;
  background-color: skyblue;
}

.learning {
  width: 100%;
  height: 506px;
  background-color: pink;
}

.merit {
  width: 100%;
  height: 1018px;
  background-color: skyblue;
}

.teacher {
  width: 100%;
  height: 1338px;
  background-color: pink;
}

.why {
  width: 100%;
  height: 270px;
  background-color: skyblue;
}

.answer {
  width: 100%;
  height: 1077px;
  background-color: pink;
}
.class {
  width: 100%;
  height: 800px;
  background-color: skyblue;
}

.classbottom {
  width: 100%;
  height: 144px;
  background-color: pink;
}

.flow {
  width: 100%;
  height: 1825px;
  background-color: skyblue;
}
.bangkok {
  width: 100%;
  height: 496px;
  background-color: pink;
}
.special {
  width: 100%;
  height: 704px;
  background-color: skyblue;
}
.specialdetail {
  width: 100%;
  height: 526px;
  background-color: pink;
}
.message {
  width: 100%;
  height: 579px;
  background-color: skyblue;
}
.contactform {
  width: 100%;
  height: 705px;
  background-color: pink;
}
.questions {
  width: 100%;
  height: 1355px;
  background-color: pink;
}
.footer {
  width: 100%;
  height: 179px;
  background-color: skyblue;
}
