@charset "UTF-8";

/* -----------------
  リセットCSS
  ------------------ */

/**
 * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
 * Richard Clark (http://richclarkdesign.com)
 * http://cssreset.com
 */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
nav ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}

/* -----------------
  全体の設定
  ------------------ */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.0rem;
  font-family: "Hiragino Kaku Gothic Pro", Meiryo, Osaka, "MS PGothic", sans-serif;
  letter-spacing: 1px;
}

*, *::before, *::after {
  box-sizing: border-box;
}
a:link,a:hover,a:active,a:visited {
  text-decoration: none;
  /* color: #333; */
}

ul li {
  list-style: none;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* -----------------
  まとめて設定
  ------------------ */
.txtxs {
  font-size: 1.4rem;
  color: #333;
}
.txts {
  font-size: 1.6rem;
  color: #333;
}
.txtm {
  font-size: 1.8rem;
  color: #333;
}
.txtl {
  font-size: 2.0rem;
  color: #333;
}
.txtxl {
  font-size: 2.8rem;
  color: #333;
}
.txtxs_w {
  font-size: 1.4rem;
  color: #fff;
}
.txts_w {
  font-size: 1.6rem;
  color: #fff;
}
.txtm_w {
  font-size: 1.8rem;
  color: #fff;
}
.txtl_w {
  font-size: 2.0rem;
  color: #fff;
}
.txtxl_w {
  font-size: 2.8rem;
  color: #fff;
}
.bold {
  font-weight: bold;
}

.mt20 {
  margin-top: 20px;
}
.mb20 {
  margin-bottom: 20px;
}

/* -----------------
  ヘッダー
  ------------------ */
.header {
  width: 100%;
  height: 75px;
  background-color: #fff;
  padding: 15px 10px;
  position: fixed;
  top: 0;
  z-index: 1;
}

.header .inner {
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
}

.header .logo {
  display: inline-block;
  width: 128px;
  height: 45px;
  background: url("../images/isaralogo.png") no-repeat;
  background-size: contain;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.header p {
  display: inline-block;
  vertical-align: 8px;
}

.header .btn {
  display: inline-block;
  padding: 15px 40px;
  border-radius: 20px;
  background-color: #da6b64;
  position: absolute;
  right: 0;
  top: 2px;
}
.header .btn:hover {
  background-color: #D84940;
}

/* -----------------
  メイン
  ------------------ */
.main {
  display: block;
  width: 100%;
  height: 500px;
  background: url("../images/main.jpg") no-repeat center center;
  background-size: cover;
  margin-top: 75px;
  padding-top: 100px;
  text-align: center;
}

.main .txtxl {
  line-height: 2.0;
}

.main img {
  width: 317px;
  margin-bottom: 30px;
}

/* -----------------
  コンバージョン
  ------------------ */
.conversion {
  width: 100%;
  height: auto;
  background-color: #ebb94d;
  padding: 30px 0;
  text-align: center;
}

.conversion .txtl_w {
  line-height: 1.8;
}

.conversion .txtm .alert {
  display: inline-block;
  background-color: #fff;
  border-radius: 5px;
  color: crimson;
  vertical-align: 0px;
  line-height: 1.2;
  margin-top: 20px;
  font-weight: 600;
}

.conversion .contact_btn {
  display: inline-block;
  padding: 30px 280px;
  background-color: #da6b64;
  margin: 45px 0;
  border-radius: 44px;
}
.conversion .contact_btn:hover {
  background-color: #D84940;
}

.conversion .btn {
  display: inline-block;
  border-radius: 3px;
  padding: 3px 7px;
  color: #fff;
}

.conversion .btn i {
  margin-right: 2px;
}

.conversion .tw {
  background-color: #1B95E0;
}
.conversion .fb {
  background-color: #4267B2;
  font-weight: bold;
}

/* -----------------
  イントロダクション
  ------------------ */
.introduction {
  width: 100%;
  height: 587px;
  background: url("../images/introbottom.jpg") no-repeat center center;
  background-size: cover;
  padding: 40px 0;
  text-align: center;
}

/* ↓セクションタイトル用共通設定 */
.section_title_frame {
  width: 90%;
  max-width: 860px;
  margin: 0 auto 40px;
  padding: 30px 0;
  text-align: center;
  position: relative;
}

.section_title {
  line-height: 1.5;
}

.section_title::before {
  content: "";
  display: inline-block;
  width: 50px;
  height: 50px;
  border-top: 4px solid #ebb94d;
  border-left: 4px solid #ebb94d;
  position: absolute;
  top: 0;
  left: 0;
}
.section_title::after {
  content: "";
  display: inline-block;
  width: 50px;
  height: 50px;
  border-bottom: 4px solid #ebb94d;
  border-right: 4px solid #ebb94d;
  position: absolute;
  bottom: 0;
  right: 0;
}
/* ↑セクションタイトル用共通設定 */

.introduction .txtl {
  line-height: 1.5;
}

.introduction strong {
  background: linear-gradient(transparent 70%, #ebb94d 0%);
}

/* -----------------
  アバウト
  ------------------ */
.about {
  width: 100%;
  height: auto;
  background-color: #fef5e0;
  padding: 80px 0;
  text-align: center;
  position: relative;
}

.about .point {
  margin-top: -120px;
  padding-bottom: 40px;
}
.about .point span {
  display: inline-block;
  width: 80px;
  height: 80px;
  line-height: 80px;
  background-color: #ebb94d;
  border-radius: 50%;
  color: #fff;
}

.about .skills {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
  border: 2px solid #ebb94d;
  border-radius: 5px;
  background-color: #fff;
  margin-top: 30px;
  padding: 30px;
}

.about .card {
  display: inline-block;
  margin: 25px 10px 20px;
  text-align: center;
}

.about .card .txtxs {
  line-height: 1.5;
  margin-top: 10px;
}

/* -----------------
  アバウトセカンド
  ------------------ */
.aboutsecond {
  width: 100%;
  height: auto;
  background: url("../images/aboutsecondbg.jpg") no-repeat center center;
  background-size: cover;
  padding: 80px 0;
  text-align: center;
}

.aboutsecond > .txtl_w {
  line-height: 1.8;
}

.aboutsecond  strong {
  color: #ebb94d;
  font-weight: normal;
}

.aboutsecond .steps {
  max-width: 1170px;
  margin: 30px auto 0;
  display: flex;
  justify-content: space-around;
}

.aboutsecond .steps .step {
  width: 31.9658%;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px 25px;
}

.aboutsecond .step .title {
  background-color: #ebb94d;
  border-radius: 5px;
  line-height: 1.5;
}
/* -----------------
  アバウトサード
  ------------------ */
.aboutthird {
  width: 100%;
  height: auto;
  background-color: #016ea9;
  text-align: center;
  padding: 40px 0;
}

.aboutthird .txtm_w {
  line-height: 1.5;
}
.aboutthird strong {
  color: #ebb94d;
}

/* -----------------
  ラーニング
  ------------------ */
.learning {
  width: 100%;
  height: auto;
  background-color: #fff;
  padding: 80px 0;
  text-align: center;
}

.learning .txtxl,
.learning .txtl {
    margin-bottom: 50px;
}

.learning img {
  width: 180px;
  height: 180px;
  margin: 0 15px 40px;
}

.learning .txts {
    font-weight: bold;
}

/* -----------------
  メリット
  ------------------ */
.merit {
  width: 100%;
  height: auto;
  background-color: #fef5e0;
  padding: 80px 0 60px;
}

.merit .merits {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}
.merit .cards {
  width: 30.7692%;
}

.merit .cards img {
  width: 100%;
}

.merit .cards .txtl {
  color: #ebb94d;
  line-height: 2.0;
}
.merit .txts {
  line-height: 1.8;
}

.merit .support {
  width: 95%;
  max-width: 1170px;
  border: 2px solid #ebb94d;
  border-radius: 5px;
  background-color: #fff;
  margin: 50px auto 30px;
  padding: 30px;
  text-align: center;
}

.merit .txtxl {
  color: #ebb94d;
}

.merit .txts {
  margin-bottom: 15px;
}

.merit .txtxs {
  text-align: center;
  line-height: 1.5;
}

/* -----------------
  運営メンバー
  ------------------ */
.teacher {
  width: 100%;
  height: auto;
  background: url("../images/teacherbg.jpg") no-repeat;
  background-size: cover;
  padding: 80px 0 40px;
  text-align: center;
}

.teacher .members {
  max-width: 810px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.teacher .member {
  width: 46.2962%;
}

.teacher .member img {
  border-radius: 50%;
  position: relative;
  top: 38px;
}

.teacher .desc {
  padding: 40px 30px;
  border: 3px solid #fff;
  line-height: 1.8;
  }

.teacher .desc .txts_w {
  margin-bottom: 10px;
}

.teacher .desc .txts.left {
  text-align: left;
}
/* -----------------
  「 本当に 」可能なのか？
  ------------------ */
.why {
  width: 100%;
  height: auto;
  background-color: #ebb94d;
  padding: 40px 0;
  position: relative;
  text-align: center;
}

.why .point span {
  display: inline-block;
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 50%;
  background-color: #fff;
  color: #ebb94d;
}

.why .section_title_frame {
  margin: 0 auto;
}

.why .section_title::before,
.why .section_title::after {
  border-color: #fff;
}

.why::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 25px 0 25px;
  border-color: #ebb94d transparent transparent transparent;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -25px;
}

/* -----------------
  アンサー
  ------------------ */
.answer {
  width: 100%;
  height: auto;
  background-color: #fff;
  padding: 50px 0 40px;
  text-align: center;
}

.answer .messages {
  max-width: 780px;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.answer .messages .img {
  width: 31.2820%;
  border: 3px solid #ebb94d;
}

.answer .messages .comment {
  display: inline-block;
  width: 64.6153%;
  text-align: left;
  margin-top: 20px;
}
.answer .messages .comment p {
  font-size: 1.8rem;
  font-style: italic;
  color: #777;
  margin-bottom: 15px;
  line-height: 1.5;
}
.answer .messages .comment p + p {
  text-decoration: underline;
}

/* -----------------
  クラス
  ------------------ */
  .class {
  width: 100%;
  height: auto;
  background: url("../images/classbg.jpg") no-repeat center center;
  background-size: cover;
  padding: 40px 0 80px;
  text-align: center;
}

.class .contentslist {
  display: inline-block;
  width: 371px;
  border: 2px solid #016ea9;
  border-radius: 5px;
  margin: 20px 10px 0;
  vertical-align: top;
}

.class .contentslist dt {
  background-color: #016ea9;
  padding:15px 0;
}

.class .contentslist dd {
  background-color: #fff;
  padding: 18px;
  font-size: 1.6rem;
  font-weight: bold;
  border-bottom: 1px dotted #eee;
}

/* -----------------
  クラスボトム
  ------------------ */
  .classbottom {
  width: 100%;
  height: auto;
  background-color: #016ea9;
  text-align: center;
  padding: 40px 0;
}

.classbottom .txtm_w {
  line-height: 1.5;
}

/* -----------------
  フロー
  ------------------ */
.flow {
  width: 100%;
  height: auto;
  background-color: #fff;
  padding: 40px 0;
  text-align: center;
}

.flow .flowimg {
  margin: 60px 0 40px;
  max-width: 90%;
}

.flowbox {
  width: 95%;
  max-width: 1170px;
  margin: 0 auto;
}

.step {
  width: 100%;
  background-color: #fef5e0;
  border-radius: 10px;
  padding: 30px 40px;

}
.step .icon {
  width: 200px;
  float: left;
}
.step .icon .txtm {
  line-height: 1.5;
  font-weight: bold;
  margin-top: 15px;
}
.step .desc {
  text-align: left;
}
.step .desc p {
  margin: 20px 0;
  font-weight: bold;
}
.step .desc p:last-child {
  line-height: 1.8;
  font-weight: normal;
}
.step .img {
  max-width: 100%;
  margin: 0 auto;
}

.step:nth-of-type(2) .icon {
  padding-top: 31px;
}
.step:nth-of-type(3) .icon {
  padding-top: 26PX;
}

/* -----------------
  バンコク
  ------------------ */
.bangkok {
  width: 100%;
  height: auto;
  background: url("../images/bangkokbg.jpg") no-repeat center center;
  background-size: cover;
  padding: 100px 0;
}

.bangkok .inner {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}

.bangkok .txtl,
.bangkok .txtm,
.bangkok .txtsm,
.bangkok .txts {
  color: #fff;
  font-weight: bold;
  margin: 20px 0;
}
.bangkok .txts {
  font-weight: normal;
  line-height: 1.6;
}
.bangkok .txtm:last-child {
  margin-top: 30px;
}

.txt24 {
  font-size: 2.4rem;
}
/* -----------------
  スペシャル
  ------------------ */
.special {
  width: 100%;
  height: auto;
  background-color: #ebb94d;
  padding: 50px 0 40px;
  text-align: center;
}

.special > .txtl,
.special > .txtm,
.special > .txtsm,
.special > .txts {
  margin-bottom: 40px;
}

.special > .txtl,
.special > .txtm,
.special > .txtsm {
font-weight: bold;
}

.special .txtsm span {
  color: #fff;
}

.special .title {
  margin: 0;
  position: relative;
  top: 16px;
}

.special .title span {
  background-color: #ebb94d;
}

.specialbox {
  max-width: 1170px;
  margin: 0 auto;
  border: 2px solid #fff;
  padding: 40px 25px;
  display: flex;
  justify-content: space-around;
}

.specialbox .content {
  width: 250px;
  height: 250px;
  background-color: #fff;
  border-radius: 50%;
  padding: 60px 0;
}

.specialbox .content .txtm {
  font-size: 2.2rem;
  margin: 10px 0;
  color: #ebb94d;
}
.specialbox .content .txts {
  line-height: 1.5;
  margin: 15px;
  font-weight: bold;
}

.txt24 {
  font-size: 2.4rem;
}

/* -----------------
  スペシャル詳細
  ------------------ */
.specialdetail {
  width: 100%;
  height: auto;
  background: url("../images/specialdetail.jpg") no-repeat center center;
  background-size: cover;
  padding: 60px 0;
  text-align: center;
}

.specialdetail p {
  color: #fff;
  font-weight: bold;
}

.specialdetail > .txtl {
  margin-bottom: 25px;
}
.specialdetail .txtm {
  line-height: 1.7;
}

.specialdetail .section_title_frame {
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 15px 30px;
}

.specialdetail .section_title {
  color: #fff;
}
.specialdetail .section_title::before,
.specialdetail .section_title::after {
  border-color: #fff;
}

/* -----------------
  メッセージ
  ------------------ */
.message {
  width: 100%;
  height: auto;
  background-color: #fff;
  text-align: center;
  padding: 40px 0 80px;
}

.message > .txtl,
.message > .txtm,
.message > .txtsm,
.message > .txts {
  margin-bottom: 40px;
  font-weight: bold;
}

.messagebox {
  max-width: 860px;
  margin: 0 auto
}
.messagebox img {
  width: 193px;
  float: left;
}
.messagebox .p {
  width: 75%;
  float: right;
  text-align: left;
}

.messagebox .p p {
  margin-bottom: 10px;
  line-height: 1.5;
}

/* -----------------
  フォーム
  ------------------ */
  .contactform {
  width: 100%;
  height: auto;
  background-color: #ebb94d;
  text-align: center;
  padding: 40px 0 80px;
}

.contactform > .txtl,
.contactform > .txtm,
.contactform > .txtsm,
.contactform > .txts {
  margin-bottom: 30px;
  font-weight: bold;
}

.contactform form input,
.contactform form textarea {
  display: block;
  width: 60%;
  margin: 0 auto;
  padding: 15px 10px;
  border-radius: 5px;
  border: none;
  font-family: inherit;
}

.contactform form input[type="text"] {
  margin-bottom: 25px;
}
.contactform form textarea {
  margin: 40px auto;
}
.contactform form input[type="submit"] {
  border-radius: 25px;
  background-color: #da6b64;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

/* -----------------
  よくある質問
  ------------------ */
.questions {
  width: 100%;
  height: auto;
  background-color: #fff;
  text-align: center;
  padding: 60px 0 40px;
}

.questions .txtl {
  font-weight: bold;
}

.accordion {
  max-width: 1170px;
  margin: 40px auto 0;
  text-align: left;
}

.accordion span {
  display: block;
  padding: 20px;
  border: 1px solid #eee;
  font-weight: bold;
  box-shadow: 0 1px 2px -2px rgba(0,0,0,0.3);
}
.accordion span:hover,
.accordion span:active {
  text-decoration: underline;
}
.accordion span::after {
  display:inline-block;
  font-family: "Font Awesome 5 Free";
  content: "\f107";
  float: right;
  color: #ccc;
}

.accordion span.open::after {
  transform: rotate(180deg);
}

.accordion ul {
  display:none;
}

.accordion li ul li {
  padding: 20px 20px 30px;
  line-height: 1.5;
  box-shadow: 0px 2px 10px -5px rgba(0,0,0,0.3);
  margin-bottom: 5px;
  font-weight: bold;
}

.accordion > li > p {
  cursor:pointer;
  margin-bottom: 5px;
}

/* -----------------
  フッター
  ------------------ */
.footer {
  width: 100%;
  height: auto;
  background-color: #ECECEC;
  text-align: center;
  padding: 50px 0 30px;
}
.footer p {
  font-size: 1.0rem;
  line-height: 1.5;
}
.footer .btn {
  display: inline-block;
  border-radius: 5px;
  padding: 5px 7px;
  color: #fff;
}

.footer .snsbtn {
  margin: 15px auto 30px;
}

.footer .tw {
  background-color: #1B95E0;
}
.footer .fb {
  background-color: #4267B2;
}
